<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>WOLFTIME</title>

    <link href="./css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- templates for use in backbone -->
    <script type="text/x-underscore" id="formTemplate">
      <div id="formDiv">
        <p>
          You can <%= action %> your wolfman and <%= string %>
        </p>
        <p>
          <input class='username' type='text' id='username' placeholder="Wolfman's name">
        </p>
        <p>
          <input class='password' type='text' id='password' placeholder='Yr password'>
        </p>
          <button id="submit">Submit</button>
          <a href="#a" id="cancel">Cancel</a>
      </div>
    </script>
    <script type="text/x-underscore" id="savedTemplate">
      <div>
        <p>
        You have successfully saved your ferocious fursona! Copy and paste this code to share your amazing creation on your favorite social media platform.
        </p>
        <p>
          <textarea> <%= imgURL %> </textarea>
        </p>
        <p>
        You can <a href="#">keep playing wth your furry</a> or <a href="">start fresh.</a> (You can log in with the same name/password to modify your guy later.)
        </p>
      </div>
    </script>
    


    <!-- Javascripts libraries -->
    <script src="./lib/jquery/dist/jquery.min.js"></script>
    <script src="./lib/underscore/underscore-min.js"></script>
    <script src="./lib/backbone/backbone-min.js"></script>
    <script src="./lib/html2canvas/build/html2canvas.js"></script>
    <script src="./lib/dom-to-image.js"></script>

    <!-- Javascript sourcefiles -->
    <script src="./js/helpers.js"></script>
    <script src="./js/router.js"></script>

    <script src="./js/models/ItemModel.js"></script>
    <script src="./js/collections/Clothing.js"></script>

    <script src="./js/models/DollModel.js"></script>
    <script src="./js/models/AppModel.js"></script>

    <script src="./js/views/ItemView.js"></script>
    <script src="./js/views/DollView.js"></script>

    <script src="./js/views/ToolBoxView.js"></script>
    <script src="./js/views/CurCollectionView.js"></script>
    <script src="./js/views/ControlsView.js"></script>
    <script src="./js/views/AppView.js"></script>
    <script src="./js/views/ApiView.js"></script>

  </head>
  <body>
    <div id="wrapper">
      <div id="appTitle">
        <h1>
          WOLFTIME
        </h1>
      </div>

      <div id="innerWrapper">
        <div id="canvas">
        </div>
        
        <div id="controls">
          <div id="toolbox">
          </div>
          
          <div id="curCollection">

          </div>

          <div id="saveLoad">
          </div>
        </div>
      
      </div>
    </div>


    <script>
    $(document).ready(function () {

      var appView = new AppView( { model: new AppModel(), el: $('#controls') } );

    });
    </script>
  </body>
</html>